.pelangi div{
  font-weight: bold;
}
.merah{
  background-color: red;
}
.jingga{
  background-color: orange;
}
.kuning{
  background-color: yellow;
}
.hijau{
  background-color: #baae17;
}
.biru{
  background-color: lightskyblue;
}
.nila{
  background-color: #000080;
  color: white;
}
.ungu{
  background-color: #800080;
  color: white;
}